.home-page {
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .home-page {
    height: 100vh;
  }
}
